.footer-container {
//   display: block;
//   text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   //  justify-content: space-around;
    text-align: center;
    align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
   //  justify-content: space-around;
    text-align: center;
    align-items: baseline;
  }
  @media screen and (min-width: $desctop) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer {
  background-color: $pramery-footer-color;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  font-size: 0;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: block;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $desctop) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.footer__blu {
  color: $accent-color;
}
.footer__white {
  color: $pramery-white-color;
}

.footer__address {
  display: flex;
  flex-direction: column;
  width: 231px;
  text-align: initial;
  display: flex;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    text-align: center;
    width: 231px;
  }
  @media screen and (min-width: $desctop) {
    display: flex;
    text-align: center;
    width: 231px;
  }
}

.footer__address--name {
  color: $pramery-white-color;
  margin-bottom: 9px;
  display: inline-block;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

.footer__mail {
  margin-bottom: 9px;
}

.footer__mail,
.footer__tel {
  color: $pramery-footer-text-color;

  display: inline-block;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
